body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(233, 222, 194);
}

.cookie-consent-model {
    height: 50vh;
    width: 100vw;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: none;
    align-items: flex-end;
}

#login-container {
    background-color: rgba(255, 255, 255, 0.753);
    border: solid 1px #000;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.431);
}

.cookie-consent-model.active {
    display: flex;
}

.content {
    background-color: #fff;
    padding: 5vw 3vw;
    border-radius: 10px 10px 0 0;
}

.btns {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}

.btn {
    border: none;
    outline: none;
    padding: .8em 1.5em;
    width: 100px;
    margin-right: 1em;
    border-radius: 3px;
    text-transform: uppercase;
}

.btn.accept {
    background-color: rgb(130, 165, 74);
    color: #fff;
}

#login-btn {
    background-color: rgb(192, 158, 158);
    margin-top: 10px;
    padding: 5px 15px;
    border: 1px solid rgb(124, 103, 103);
    color: #fff;
    
    text-transform: uppercase;
}