body {
    background: linear-gradient(0.25turn, rgb(255, 189, 150), #e66465, #9198e5);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

#login-container {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.753);
    margin: auto;
    width: 20em;
    padding: 10px;
    text-align: center;
    border: solid 1px #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.431);
}

#login-btn {  
    margin-top: 10px;
    padding: 5px 15px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
}

.content {
    background-color: #fff;
    padding: 5vw 3vw;
    border-radius: 10px 10px 0 0;
}

.cookie-consent-model {
    width: 100vw;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: none;
    align-items: flex-end;
}

.cookie-consent-model.active {
    display: flex;
}

.btns {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}

.btn {
    border: none;
    outline: none;
    padding: .8em 1.5em;
    width: 100px;
    margin-right: 1em;
    border-radius: 3px;
    text-transform: uppercase;
}

.btn.accept {
    background-color: rgb(130, 165, 74);
    color: #fff;
}

h1 {
    text-shadow: 1px 1px 3px #333;
}

h2 {
    color: #fff;
    text-shadow: 2px 2px 3px #333;
}

.fas.fa-cookie {
    color: rgb(177, 156, 137);
}
